<!-- Danny Chung || chungdan@oregonstate.edu || CS340-->
<!-- Hailee Hibray || hibrayh@oregonstate.edu || CS340-->

<head>
    <title>Actor Management</title>
</head>

<h1>Actor Management</h1>

<h2>View, Edit, or Delete Actors</h2>

<form id="search_actor" method="GET" action="/view_actors">

    <label for="actorSearch">Search Actors (by first or last name)</label>
    <input id="name" type="text" name="name">
    <input type="submit">
    <a href="/view_actors">
        <button>Reset Search</button>
    </a>
    <br>

</form>
<table width="100%">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Director</th>
        <th colspan="3">Management</th>
    </tr>
    {{#each results}}
    <tr>
        <td>{{this.actorID}}</td>
        <td>{{this.actorFirstName}}</td>
        <td>{{this.actorLastName}}</td>
        <td>{{this.actorSalary}}</td>
        <td>{{this.directorFirstName}} {{this.directorLastName}}</td>
        <th>
            <form method='GET' action='/view_actor_movies'>

                <button type="submit" name="actorID" value={{this.actorID}}>View</button>

            </form>
        </th>
        <th><button type="button" value={{this.actorID}} id="actorDelete{{this.actorID}}"
                onclick="deleteActor({{this.actorID}})">Delete</button></th>
        <th><button type="button" value={{this.actorID}} id="actorEdit{{this.actorID}}"
                onclick="openEditActor({{this.actorID}}, '{{this.actorFirstName}}', '{{this.actorLastName}}', {{this.actorSalary}}, {{this.directorID}})">Edit</button>
        </th>
    </tr>
    {{/each}}
</table>


<div id="popupEditActor">
    <div id="editContent">
        <form>
            <fieldset id="edit_actor_field">
                <legend>Edit Actor</legend>
                <label for="actorFirstNameEditInput">First Name: </label>
                <input id="actorFirstNameEditInput" type="text" name="actorFirstNameEditInput" required>
                <br>
                <label for="actorLastNameEditInput">Last Name: </label>
                <input id="actorLastNameEditInput" type="text" name="actorLastNameEditInput" required>
                <br>
                <label for="actorSalaryEditInput">Salary: </label>
                <input id="actorSalaryEditInput" type="text" name="actorSalaryEditInput" required>
                <!--restrict to between 0 and 100,000-->
                <br>
                <label for="director_name_edit">Select Director:
                </label>
                <select name="director_name_edit" id="director_names_edit" required>
                    <option value=0>None</option>
                    {{#each resultsDirectors}}
                    <option value={{this.directorID}}>{{this.director_name}}</option>
                    {{/each}}
                </select>
                <br>
                <button id="close_edit_actor" onclick="closeEditActor()">Close</button>
            </fieldset>
        </form>
    </div>
</div>

<footer>
    <p><a href="/actor">Add Actor</a></p>
</footer>